/* Styl dla diva z klasą "logo" */
.logo {
    text-align: center;
    background-color: /*#EFDBD4;*/
    color: red; /* Kolor tekstu czerwony */
    padding: 10px;
    display: flex;
    align-items: center;

}
.logo img {
    width: 200px;
    height: auto;
    float: left;
    margin-right: 10px;
}

/* Styl dla napisu "LOGO SKLEPU WYSZUKIWARKA" */
.logo-text {
    color: #6565F5; /* Kolor tekstu czerwony */
    margin: 0; /* Usuń domyślne marginesy dla tekstu */
    font-size: 50px; /* Dostosuj rozmiar czcionki */
    margin-left: 300px; /* Dodaj odstęp między tekstem a obrazkiem */
}


/* Styl dla diva z klasą "clear" */
.clear {
    clear: both;
}

/* Styl dla diva z klasą "sidebar" */
.sidebar {
    width: 200px;
    float: left;
    padding: 10px;
    background-color: /*#EFDBD4*/;
}
/* Styl dla linków kategorii */
.sidebar a {
    font-size: 17px; /*rozmiar czczionki*/
    font-weight: bold; /*tekst pogrubiony */
    text-decoration: none; /* Usuń podkreślenie odnośników */
    color: blue; /* Ustaw kolor tekstu na niebieski */
}

/* Styl dla linków kategorii po najechaniu myszką */
.sidebar a:hover {
    text-decoration: none; /* Podkreśl link po najechaniu myszką */
    color: blue; /* Możesz zachować kolor niebieski lub zmienić na inny */
}

/* Styl dla h3 z klasą "color" wewnątrz diva z klasą "sidebar" */
.sidebar .color {
    font-size: 25px;
    font-weight: bold;
    color: blue; /* Kolor tekstu niebieski */

/* Styl dla diva z klasą "main-content" */
.main-content {
    width: 700px;
    float: left;
    padding: 10px;

}




}
.stopka {
    color: black;
    background-color: /*#EFDBD4;*/;
    text-align: center;
    padding: 10px;
    clear: both;
    border-top: 2px solid black; /* Górna czarna linia */
    border-bottom: 2px solid black; /* Dolna czarna linia */
}

.category-link {
    font-size: 17px; /*rozmiar czczionki*/
    font-weight: bold; /*tekst pogrubiony */
    text-decoration: none; /* Usuń podkreślenie odnośników */
    color: blue; /* Ustaw kolor tekstu na niebieski */
}


/*css dla pliku product.html*/

.color-product {
    font-size: 20px; /*rozmiar czczionki*/
    font-weight: bold; /*tekst pogrubiony */
    color: blue; /* Ustaw kolor tekstu na niebieski */
}

.color-product-h1 {
    font-size: 32px; /*rozmiar czczionki*/
    font-weight: bold; /*tekst pogrubiony */
    color: blue; /* Ustaw kolor tekstu na niebieski */
}

.color-product-description {
    font-size: 20px; /*rozmiar czczionki*/
    font-weight: bold; /*tekst pogrubiony */
    color: blue; /* Ustaw kolor tekstu na niebieski */
    line-height: 3.5;

}

.opis {
    font-size: 20px;
    color: blue;
    margin-top: 20px; /* Dodaj odstęp od góry */
    margin-bottom: 20px; /* Dodaj odstęp od dołu */
    padding: 10px; /* Odstęp wewnątrz opisu */


}
.opis_line {

}
/* style dla category_product.html */
/* Styl dla diva z klasą "product-list" */
.product-list {
    display: flex;
    flex-wrap: wrap;
}

/* Styl dla diva z klasą "product-item" */
.product-item {
    width: calc(50% - 20px); /* Ustala szerokość na 50% z odstępem 20px między nimi */
    margin: 10px; /* Dodaj odstęp między produktami */
    padding: 10px;
    background-color: /*#EFDBD4*/;
    border: 1px solid #ddd; /* Dodaj obramowanie wokół produktów */
    box-sizing: border-box; /* Ustala box-sizing na border-box, aby padding i obramowanie nie wpływały na szerokość */
}
