/* Styl dla całej strony */
body {
    font-family: Arial, sans-serif;
    background-color: #F5F8F9;
    color: #333;
}

/* Styl dla diva z klasą "logo" */
.logo {
    text-align: center;
    color: red; /* Kolor tekstu czerwony */
    padding: 10px;


}

.logo img {
    width: 200px;
    height: auto;
    float: left;
    margin-right: 10px;
}

/* Styl dla napisu "LOGO SKLEPU WYSZUKIWARKA" */
.logo-text {
    color: #0672FC; /* Kolor tekstu czerwony */
    margin: 0; /* Usuń domyślne marginesy dla tekstu */
    font-size: 50px; /* Dostosuj rozmiar czcionki */
}   transition: color 0.3s;

/* Po najechaniu myszką zmień kolor na ciemniejszy */
.logo-text:hover {
    color: #023; /* Kolor tekstu ciemniejszy (np. czarny) */
}


/* Styl dla diva z klasą "clear" */
.clear {
    clear: both;
}

/* Styl dla diva z klasą "sidebar" */
.sidebar {
    width: 200px;
    float: left;
    padding: 10px;
    background-color: /*#EFDBD4*/;
    border: 2px solid #25CBF2; /* Ustaw kolor obramowania na #A1D0DB i dodaj grubsze obramowanie wokół bocznego menu */
    border-radius: 10px; /* Zaokrąglij ramkę */
    box-sizing: border-box; /* Ustala box-sizing na border-box, aby padding i obramowanie nie wpływały na szerokość */

    /* Dodaj cień */
    box-shadow: 0 0 1px blue; /* Tu użyłem niebieskiego koloru cienia, możesz dostosować go do swoich preferencji */
}
/* Styl dla linków kategorii */
.sidebar a {
    font-size: 17px; /*rozmiar czczionki*/
    font-weight: bold; /*tekst pogrubiony */
    text-decoration: none; /* Usuń podkreślenie odnośników */
    color: blue; /* Ustaw kolor tekstu na niebieski */
    transition: background-color 0.3s; /* Dodaj płynny efekt przejścia */
}

/* Styl dla linków kategorii po najechaniu myszką */
.sidebar a:hover {
    background-color: #A1D0DB; /* Kolor podświetlenia po najechaniu myszką */
    color: white; /* Zmiana koloru tekstu po najechaniu myszką */
}

/* Styl dla h3 z klasą "color" wewnątrz diva z klasą "sidebar" */
.sidebar .color {
    font-size: 25px;
    font-weight: bold;
    color: blue; /* Kolor tekstu niebieski */

/* Styl dla diva z klasą "main-content" */
.main-content {
    width: 700px;
    float: left;
    padding: 10px;

}




}
.stopka {
    color:  #0672FC;
    text-align: center;
    padding: 10px;
    clear: both;
    font-size: 25px;
    border-top: 2px solid #25CBF2; /* Górna czarna linia */
    border-bottom: 2px solid #25CBF2; /* Dolna czarna linia */
    border-radius: 20px; /* Zaokrąglij ramkę */
}



.category-link {
    font-size: 17px;
    font-weight: bold;
    text-decoration: none;
    color: blue;
    transition: background-color 0.3s, color 0.3s; /* Dodaj płynny efekt przejścia dla tła i koloru tekstu */
}

.category-link:hover {
    background-color: #A1D0DB; /* Kolor podświetlenia po najechaniu myszką */
    color: white; /* Zmiana koloru tekstu po najechaniu myszką */
}



/*css dla pliku product.html*/

.color-product {
    font-size: 20px; /*rozmiar czczionki*/
    font-weight: bold; /*tekst pogrubiony */
    color: blue; /* Ustaw kolor tekstu na niebieski */
}

.color-product-h1 {
    font-size: 32px; /*rozmiar czczionki*/
    font-weight: bold; /*tekst pogrubiony */
    color: blue; /* Ustaw kolor tekstu na niebieski */
}

.color-product-description {
    font-size: 20px; /*rozmiar czczionki*/
    font-weight: bold; /*tekst pogrubiony */
    color: blue; /* Ustaw kolor tekstu na niebieski */
    line-height: 3.5;

}

.opis {
    font-size: 20px;
    color: blue;
    margin-top: 20px; /* Dodaj odstęp od góry */
    margin-bottom: 20px; /* Dodaj odstęp od dołu */
    padding: 10px; /* Odstęp wewnątrz opisu */


}
.opis_line {

}
/* style dla category_product.html */
/* Styl dla diva z klasą "product-list" */
.product-list {
    display: flex;
    flex-wrap: wrap;
}

/* Styl dla diva z klasą "product-item" */
.product-item {
    width: calc(50% - 20px); /* Ustala szerokość na 50% z odstępem 20px między nimi */
    margin: 10px; /* Dodaj odstęp między produktami */
    padding: 10px;
    background-color: /*#EFDBD4*/;
    border: 2px solid #A1D0DB; /* Dodaj grubsze obramowanie wokół produktów */
    border-radius: 10px; /* Zaokrąglij ramkę */
    box-sizing: border-box; /* Ustala box-sizing na border-box, aby padding i obramowanie nie wpływały na szerokość */
    box-shadow: 0 0 1px blue; /* Tu użyłem niebieskiego koloru cienia, możesz dostosować go do swoich preferencji */
}
}
