{% extends 'main.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
{% block nowe %}
    <div class="product-list">
        {% if category_product %}
            {% for product in category_product %}
            <div class="product-item">
                <p><a href="/products/{{ product.id }}" class="category-link">{{ product.name }}</a></p>
            </div>
            {% endfor %}
        {% else %}
            <p>Brak produktów w tej kategorii.</p>
        {% endif %}
    </div>
{% endblock %}
</body>
</html>