<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class="logo">
        <h1>LOGO SKLEPU WYSZUKIWARKA WYLOGUJ</h1>
    </div>
    <div class="clear"></div>
    <div class="sidebar">
        <h3 class="color">Fajnie, że wpadłeś :)</h3>
        {% for kat in category %}
        <p><a href="/categories/{{ kat.id }}"> {{ kat.name }}</a></p>
        {% endfor %}
    </div>
    <div class="main-content">
        {% block nowe %} {% endblock %}
    </div>
</body>
</html>