{% extends 'main.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/css/main.css">
</head>
<body>
{% block nowe %}
    {% if product_user %}
    <div>
        <h1 class="product-category">Kategoria: {{ product_user.category }}</h1>
        <h1 class="product-category-name">{{ product_user.name }}</h1>
        <p class="product-producent">Producent: {{ product_user.producer }}</p>
    </div>
        <br><br>
    <div class="main-description">
            <p class="product-word-name">Opis:</p>
            <p class="product-description">{{ product_user.description }}</p>
            <span class="price">Cena: {{ product_user.price }}</span>
    </div>
    {% else %}
        <p>Nie ma produktu o takim ID.</p>
    {% endif %}
{% endblock %}

</body>
</html>