{% extends 'main.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
{% block nowe %}
    {% if product_user %}
        <h1 class="color-product">Kategoria: {{ product_user.category }}</h1>
        <h1 class="color-product-h1">{{ product_user.name }}</h1>
        <p class="color-product">Producent: {{ product_user.producer }}</p>
        <br><br>
        <div class="product-description">
            <p class="opis">Opis:</p>
            <p class="color-product-description">{{ product_user.description }}</p>
            <p class="opis_line">Cena: {{ product_user.price }}</p>
        </div>
    {% else %}
        <p>Nie ma produktu o takim ID.</p>
    {% endif %}
{% endblock %}

</body>
</html>